<div class="information">

  <div class="text-center ">
    <h1>NOM PRENOM</h1>
  </div>

</div>

<div id="reinitialisation">
  <button type="button" class="btn btn-info btn-rounded waves-light" mdbRippleRadius>REINITIALISER LE MOT DE PASSE</button>
</div>

<div class="row">

  <div class="col-12">
    <h1>AFFAIRES EN COURS</h1>
  </div>

</div>

<div class="row text-center">

  <div class="col-4">

    <h2>AFFAIRE 1</h2>

  </div>

  <div class="col-4">

    <h2>AFFAIRE 2</h2>

  </div>

  <div class="col-4">

    <h2>AFFAIRE 3</h2>

  </div>

</div>
