<div class="row w-100 p-3">

    <div class="col-4" id="bloc">

        <img class="img-fluid justify-content-center" src="../assets/image/Logo.png">

        <form class="justify-content-center">

            <input class="form-control mr-sm-2" type="text" placeholder="IDENTIFIANT" aria-label="IDENTIFIANT">
            <br>
            <input class="form-control mr-sm-2" type="text" placeholder="MOT DE PASSE" aria-label="MOT DE PASSE">
            <br>
            <button class="btn btn-outline-info justify-content-center" (click)="onSignIn()" type="submit">Valider</button>
            <a href="">Mot de passe oublié?</a>

        </form>

    </div>

</div>