<div class="row">

  <div class="col-6">
    
    <input type="text" class="form-control" id="marque" placeholder="Marque du véhicule">
    <br>
    <input type="text" class="form-control" id="modele" placeholder="Modèle du véhicule">
    <br>


  </div>

  <div class="col-6">
    <input type="text" class="form-control" id="couleur" placeholder="Couleur du véhicule">
    <br>
    <input type="number" class="form-control" id="immatriculation" placeholder="Immatriculation du véhicule">
    <br>

  </div>

  </div>

  <div class="row">
    
    <button class="col-12 btn btn-info waves-light" type="submit" routerLink="/index/affichage-recherche">VALIDER</button>
  
  </div>

