<div class="row">

  <div class="col-6">

    <input type="text" class="form-control" id="motorisationVehicule" placeholder="Motorisation">
    <br>
    <input type="number" class="form-control" id="anneeProductionVehicule" placeholder="Année de production">
    <br>
    <input type="text" class="form-control" id="cylindreVehicule" placeholder="Cylindrée véhicule">
    <br>
    <input type="text" class="form-control" id="puissanceVehicule" placeholder="Puissance véhicule">
    <br>
    <input type="text" class="form-control" id="boiteVitesse" placeholder="Boite de vitesse">

  </div>

  <div class="col-6">

    <input type="text" class="form-control" id="paysAssemblageVehicule" placeholder="Pays d'assemblage">
    <br>
    <input type="text" class="form-control" id="immatriculation" placeholder="Immatriculation">
    <br>
    <input type="text" class="form-control" id="longueur" placeholder="Longueur">
    <br>
    <input type="text" class="form-control" id="largeur" placeholder="Largeur">
    <br>
    <input type="text" class="form-control" id="hauteur" placeholder="Hauteur"><br>

  </div>

</div>

<div class="row">
    
  <button class="col-12 btn btn-info waves-light" type="submit" routerLink="/index/affichage-recherche">VALIDER</button>

</div>