<div class="row">
  <div class="col-6">
    <input type="text" class="form-control" id="typeArme" placeholder="Types d'armes">
    <br>
    <input type="text" class="form-control" id="nomArmes" placeholder="Nom de l'arme">
    <br>


  </div>

  <div class="col-6">
    <input type="text" class="form-control" id="munitionArme" placeholder="Type de munitions">
    <br>
    <input type="number" class="form-control" id="numeroArme" placeholder="Numéro de série de l'arme">
    <br>

  </div>

  </div>

  <div class="row">
    
    <button class="col-12 btn btn-info waves-light" type="submit" routerLink="/index/affichage-recherche">VALIDER</button>
  
  </div>

