<div class="col-sm-8 col-sm-offset-2">

  <form #vehiculeForm="ngForm" (ngSubmit)="onSubmit(vehiculeForm)" fxLayout="column" class="container">

    <div class="row">
    <div class="information col-md-5">
      <div class="form-group">
        <label for="marque">Marque du véhicule</label>
        <input type="text" class="form-control" id="marque" name="marque"  [(ngModel)]="vehicule.marque">
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="modele">Modèle du véhicule</label>
          <input type="text" class="form-control" id="modele" name="modele"  [(ngModel)]="vehicule.modele">
        </div>
      </div>
      </div>
      
    <div class="user col-md-5 offset-md-1">
        <div class="form-group">
            <div class="form-group">
              <label for="couleur">Couleur du véhicule</label>
              <input type="couleur" class="form-control" id="couleur" name="couleur"  [(ngModel)]="vehicule.couleur">
            </div>
          </div>

      <div class="form-group">
        <label for="immatriculation">Immatriculation du véhicule</label>
        <input type="immatriculation" id="immatriculation" class="form-control" name="immatriculation" [(ngModel)]="vehicule.immatriculation">
      </div>
      
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
         
  </form>

  </div>