<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput placeholder="Filtre">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id}} </mat-cell>
        </ng-container>

    <ng-container matColumnDef="marque">
      <mat-header-cell *matHeaderCellDef> Marque </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.marque }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modele">
      <mat-header-cell *matHeaderCellDef> Modèle </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.modele }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="couleur">
      <mat-header-cell *matHeaderCellDef> Couleur </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.couleur }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="immatriculation">
      <mat-header-cell *matHeaderCellDef> Immatriculation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.immatriculation }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn" routerLink="{{element.id}}">Modifier</button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn" (click)="onDelete(element.id)">Supprimer</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>

  <mat-paginator #paginator 
  
      [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
  
  </mat-paginator>