<div class="row">

  <div class="col-6">

    <input type="number" class="form-control" id="dateAffaire" placeholder="Date de l'affaire">
    <br>
    <input type="text" class="form-control" id="affairePolicier" placeholder="Policier en charge">
    <br>
    <input type="text" class="form-control" id="afairearmeImplique" placeholder="Armes impliquées">
    <br>
    <input type="text" class="form-control" id="vehiculeAffaire" placeholder="Vehicules impliqués">
    <br>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" id="autreAffaire" placeholder="Autre affaire">
    <br>
    <input type="text" class="form-control" id="pieceConvictionAffaire" placeholder="Pièces à conviction">
    <br>
    <input type="text" class="form-control" id="lieuAffaire" placeholder="Lieu de l'affaire">
    <br>
  </div>

</div>

<div class="row">
    
  <button class="col-12 btn btn-info waves-light" type="submit" routerLink="/index/affichage-recherche">VALIDER</button>

</div>